<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>
<div style='border: 3px dashed red'>
<img width="50%"src='http://www.reportingday.com/wp-content/uploads/2018/06/Cat-Sleeping-Pics.jpg'>
</div>